# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
frontend/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
server/server
server/main
bin/

# Nix
result
result-*

# Vite & Cache
.vite/
.svelte-kit/
*.tsbuildinfo

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories & OS files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
